:root {
    --brand-color: #CDA274;
    --main-color: #292F36;
    --main-gray: #4D5053;
    --bg-light-gray: #F4F0EC;
}
body {
    font-family: Jost;
}
a {
    text-decoration: none;
}
.list {
    list-style: none;
}
.services-item-title {
    color: var(--brand-color);
}
.comments {
    background-color: var(--bg-light-gray);
}
.success {
    background-color: var(--bg-light-gray);
}
