:root {
    --brand-color: #CDA274;
    --main-color: #292F36;
    --main-gray: #4D5053;
    --bg-light-gray: #F4F0EC;
    
}

.services-title {
    color: var(--brand-color);
}

/* .services {
    background-color: var(--bg-main);
} */